openapi: 3.0.0
info:
  title: Picsart API
  version: '2.0'
  description: 'Unified Picsart API combining Image Tools, Video Tools, GenAI, and Variable Data Content APIs.

    [Official documentation](https://docs.picsart.io/)

    [Developer Guidelines](https://picsart.io/terms)

    '
servers:
- url: https://api.picsart.io
  description: Production
paths:
  /image/removebg:
    post:
      summary: Remove & Change Background
      operationId: image-remove-background
      description: "Discover the magic of seamless background removal with our removebg service, powered by cutting-edge AI technology. Our sophisticated algorithm effortlessly identifies and isolates the\
        \ foreground,  ensuring every detail from the delicate intricacies of jewelry to the finest strands of hair is captured with unparalleled precision.  Designed to excel across a vast array of use\
        \ cases, our service guarantees immaculate cutouts,  whether for professional product photos, dynamic campaign graphics, or personal images meant for creative exploration.  Experience flawless edges\
        \ and exceptional detail preservation every time, elevating your images beyond the ordinary. \n"
      tags:
      - 'Image: Remove Background'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageRemoveBackgroundParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/upscale:
    post:
      summary: Upscale
      operationId: image-upscale
      description: 'The *upscale* service increases the resolutions of an image by a given upscale factor, without increasing its file size. Upscale increases the quality and resolution of your photos by
        leveraging predictive and generative AI to add pixels to your image. It works especially well on images without noise.

        '
      tags:
      - 'Image: Photo enhancement'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageUpscaleParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/upscale/ultra:
    post:
      summary: Ultra Upscale
      operationId: image-ultra-upscale
      description: '*Upscale Ultra* is a new upscaling technique which does upscaling with noise suppression. It works well on images with faces, small resolution images, stickers and objects with geometric
        shapes and clear edges. Upscale ultra increases the quality and resolution of low quality photos by leveraging predictive and generative AI technology in order to "complete" missing pixels for a
        best in class smoothing and enhancement effect. It works especially good on small resolution images with faces.

        '
      tags:
      - 'Image: Photo enhancement'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageUpscaleUltraParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '202':
          $ref: '#/components/responses/Image202'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/upscale/ultra/{transaction_id}:
    get:
      summary: Get the Ultra Upscale result
      operationId: image-ultra-upscale-getresult
      description: 'Use this method, along with transaction_id, to retrieve the upscale ultra finished image if the transformation was done asynchronously.

        '
      parameters:
      - in: path
        name: transaction_id
        schema:
          type: string
        required: true
        description: The ID returned from the POST method when it's done asynchronously.
      tags:
      - 'Image: Photo enhancement'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '202':
          $ref: '#/components/responses/Image202'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '422':
          $ref: '#/components/responses/Image422'
        '415':
          $ref: '#/components/responses/Image415'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/upscale/enhance:
    post:
      summary: Ultra Enhance
      operationId: image-ultra-enhance
      description: "*Ultra enhance* is a new upscaling technique with a generative model which provides high frequency detail. It works well on images without noise and preserves details in a superior way.\n\
        **Limitations:** \n\n **Minimums/Maximums:**\n   * Up to 64Mpx output images\n\n **Examples:**\n   Examples of where ultra enhance can be utilized include the following:\n   * Low resolution images\n\
        \   * Images that need smoothing and realistic details \n   * To de-noise an image\n   * Works best with the Face Enhance service\n\n **Source Image:**\n   If you plan to upscale enhance an image\
        \ several times, we recommend you first upload the source image using the *Upload* method and then use the reference image ID. Otherwise, you can source the image by providing a file or a URL to\
        \ an online image.\n"
      tags:
      - 'Image: Photo enhancement'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageUpscaleEnhanceParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/enhance/face:
    post:
      summary: Face Enhancement
      operationId: image-face-enhance
      description: 'With our *enhance face* tool, you can turn your old, blurry photos into clear portraits and selfies. ur AI technology will find faces, perform restoration and do color enhancement simultaneously.
        It will improve the skin texture and sharpen details while keeping a good balance of realness and fidelity with much less artifacts.

        '
      tags:
      - 'Image: Photo enhancement'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageFaceEnhanceParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/effects:
    get:
      summary: Effect Names
      operationId: image-list-effect-names
      description: 'This service retrieves a list of supported effects.

        '
      tags:
      - 'Image: Effects'
      responses:
        '200':
          $ref: '#/components/responses/ImageeffectRetrievalSuccess'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
    post:
      summary: Effects
      operationId: image-apply-effect
      description: 'With the *effects* service you can apply up to 24 different effects to an image.

        '
      tags:
      - 'Image: Effects'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageEffectsParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/effects/previews:
    post:
      summary: Effect Previews
      operationId: image-create-effect-previews
      description: 'The *effects previews* service applies an effect to a given input image and returns a preview (i.e., thumbnail) of the effect.

        '
      tags:
      - 'Image: Effects'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageEffectsPreviewsParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200EffectsPreviews'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/effects/laserengraving:
    post:
      summary: Laser Engraving Effect
      operationId: image-apply-laser-engraving-effect
      description: 'Apply a laser engraving effect to your stickers.

        '
      tags:
      - 'Image: Effects'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageLaserEngravingEffectParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/effects/ai:
    get:
      summary: AI Effect Names
      operationId: image-list-ai-effect-names
      description: 'This service retrieves the list of supported AI effects.

        '
      tags:
      - 'Image: Effects'
      responses:
        '200':
          $ref: '#/components/responses/ImageeffectRetrievalSuccess'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
    post:
      summary: AI Effects
      operationId: image-apply-ai-effect
      description: 'With the *AI Effects* service you can apply up to 40+ different AI effects to an image.

        '
      tags:
      - 'Image: Effects'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageAIEffectsParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/adjust:
    post:
      summary: Adjust
      operationId: image-adjust
      description: 'The *adjust* service applies adjustments to an input image. There are 11 different adjustments in all available. The adjust service can be used with all photo types.

        '
      tags:
      - 'Image: Effects'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageAdjustParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '402':
          $ref: '#/components/responses/Image402'
        '401':
          $ref: '#/components/responses/Image401'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/selective-blur:
    post:
      summary: Selective Blur
      operationId: image-selective-blur
      description: 'Use AI to define the segment that should be blurred, e.g. foreground or background, faces or car plates.

        '
      tags:
      - 'Image: Effects'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageSelectiveBlurParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '402':
          $ref: '#/components/responses/Image402'
        '401':
          $ref: '#/components/responses/Image401'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/color-transfer:
    post:
      summary: Color Transfer
      operationId: image-transfer-color
      description: 'The *color transfer* tool transfers the color style from a reference image to the target image.

        '
      tags:
      - 'Image: Effects'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageColorTransferParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/styletransfer:
    post:
      summary: Style Transfer
      operationId: image-transfer-style
      description: 'The *style transfer* tool transfers a style from a reference image to a content image. The smart algorithm blends the two images together so the output looks like the content image,
        but "painted" in the style of the reference image.

        '
      tags:
      - 'Image: Effects'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageStyleTransferParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/masks/previews:
    post:
      summary: Mask Previews
      operationId: image-create-mask-previews
      description: 'The *masks previews* service applies mask effects to a given input image and returns a preview (i.e., thumbnail) of the effect.

        '
      tags:
      - 'Image: Effects'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageMasksPreviewParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200MasksPreviews'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/masks:
    post:
      summary: Masks
      operationId: image-apply-mask
      description: 'The *masks* service applies a mask to an image.

        '
      tags:
      - 'Image: Effects'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageMasksParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/background/texture:
    post:
      summary: Texture Generator
      deprecated: true
      operationId: image-generate-texture
      description: 'This service is now renamed to [Pattern Generator](https://docs.picsart.io/reference/image-generate-pattern). This name is now deprecated and we recommend moving all integratings to
        using the new name.

        '
      tags:
      - 'Image: Content Generation'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageTextureParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/background/pattern:
    post:
      summary: Pattern Generator
      operationId: image-generate-pattern
      description: 'The *pattern generator* tool generates a background texture pattern for the input image. You can create unlimited patterns from the same source image.

        '
      tags:
      - 'Image: Content Generation'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageTextureParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/vectorizer:
    post:
      summary: Image Vectorizer
      operationId: image-vectorize-raster-to-svg
      description: 'With the *vectorizer* tool you can instantly turn your raster image into high quality vector graphic as it converts a PNG image to a SVG image. Using geometric figures, like curves and
        lines, the vectorizer converts the pixel information of raster input into vector image, which can be enlarged and edited without quality loss.

        '
      tags:
      - 'Image: Conversion'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageVectorizerParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/design2replay:
    post:
      summary: Design Import (beta)
      operationId: image-design-import
      description: "With the *Design Import* tool you can instantly turn your design files (AI, SVG) into a Replay file (Picsart's proprietary project file format) that can be consumed by the [Photo and\
        \ Video Editor SDK](https://docs.picsart.io/docs/photo-video-editor-overview).\n  \nUse this to import your existing designs and make them resuable in Picsart.\n\n**Suported Formats:** Examples\
        \ of where the vectorizer can be used include:\n  * AI (Adobe Illustrator)\n  * SVG (Scalable Vector Graphics)\n"
      x-readme:
        explorer-enabled: false
      x-explorer-enabled: false
      tags:
      - 'Image: Conversion'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageFileParameters'
      responses:
        '202':
          $ref: '#/components/responses/Image202'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/design2replay/{transaction_id}:
    get:
      summary: Get the Design Import Result
      operationId: image-design-import-getresult
      description: 'Get the result of the Design Import. Use the inference identifier from the POST request to fetch the latest status and result here.

        '
      parameters:
      - in: path
        name: transaction_id
        schema:
          type: string
        required: true
        description: The ID returned from the POST method.
        example: 1116b57cb-1999-4bfd-8c42-c739a006a111
      tags:
      - 'Image: Conversion'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '202':
          $ref: '#/components/responses/Image202'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/surfacemap:
    post:
      summary: Surfacemap Image
      operationId: image-surfacemap
      description: 'With the *surface map* tool you can "print" a sticker over an (target) image. Using a mask, the Surfacemap tool maps the sticker pixels using the texture and curves on the target image
        thus ultimately giving a live-print-preview effect.

        '
      tags:
      - 'Image: Surfacemap'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageSurfacemapParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/watermark:
    post:
      summary: Add Watermark
      operationId: image-add-watermark
      description: 'Add watermark to your image.

        '
      tags:
      - 'Image: Watermark'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageWatermarkParameters'
              - $ref: '#/components/schemas/ImageExportParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/upload:
    post:
      summary: Upload Image
      operationId: image-upload
      description: "The *upload* service is used to upload an image when you want to apply several transformations to it.\n  By uploading an image first, you'll receive a transaction_id which you can use\
        \ repeatedly for transformations and thereby avoid having to upload an image for each and every one.\n  If you're sure you only want to do a single transformation to an image, there's no benefit\
        \ to using this service. Just jump right to that service.\n\n **Limitations:** Supported source image formats are JPG, PNG, TIFF and WEBP.  \n\n **Source Image:**\n   You can source the image by\
        \ providing a file or a URL to an online image.\n"
      tags:
      - 'Image: Utilities'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageUploadParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/balance:
    get:
      summary: Credits Balance
      operationId: image-credits-balance
      description: 'Check your balance of credits.

        '
      tags:
      - 'Image: Utilities'
      responses:
        '200':
          $ref: '#/components/responses/ImagebalanceRetrievalSuccess'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/edit:
    post:
      summary: Basic Editing
      operationId: image-edit
      description: 'The *Edit* service applies basic image editing to an input image. The basic editing operations are resize, crop, flip, rotate and perspective manipulation.

        '
      tags:
      - 'Image: Editing'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageEditParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/smart-crop:
    post:
      summary: Smart Crop
      operationId: image-smart-crop
      description: 'Use AI to define the segment that should be cropped, e.g. foreground or product name (e.g. hat, gloves, boots, etc).

        '
      tags:
      - 'Image: Editing'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageSmartCropParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '402':
          $ref: '#/components/responses/Image402'
        '401':
          $ref: '#/components/responses/Image401'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/blend:
    post:
      summary: Blending
      operationId: image-blend
      description: 'Whether you''re adding a custom watermark, layering in a texture,  or composing multi-image layouts for eCommerce or social media,  Blend service turns simple images into sophisticated
        visuals with just one call.

        This endpoint lets you seamlessly combine a base image with another visual layer -  like an overlay, mask, or logo - while giving you full control over how the two interact.  Think of it as your
        virtual creative layer engine: the same power you''d expect from a professional design tool,  now embedded into your workflow or platform.

        No need for manual edits or complex graphic design tools.  With the blend API, your app or service can automate visually rich output that''s both fast and fully customizable.

        '
      tags:
      - 'Image: Editing'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageOverlayParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/zoom:
    post:
      summary: Zoom
      operationId: image-zoom
      description: 'Zoom your images with 1-75 scale factors.

        '
      tags:
      - 'Image: Editing'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageZoomParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '402':
          $ref: '#/components/responses/Image402'
        '401':
          $ref: '#/components/responses/Image401'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/multi-matting:
    post:
      summary: Image Segmentation
      operationId: image-segmentation
      description: 'Performs multi-matting segmentation on the input image, identifying and isolating specific classes like hair, clothes, or sky.

        '
      tags:
      - 'Image: Classification'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
              - $ref: '#/components/schemas/ImageMultiMattingSegmentationParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/tags:
    post:
      summary: Image Tagging
      operationId: image-tagging
      description: 'This tagging service analyzes the image and suggests hashtags that are relevant to the content.

        '
      tags:
      - 'Image: Classification'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageImageParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200Tagging'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/describe:
    post:
      summary: Describe Image
      operationId: image-describer
      description: 'The image *Describer* service helps generate a detailed text description for the provided image (image2text).

        '
      tags:
      - 'Image: Classification'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageImageParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200ImageDescription'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/cars/classify:
    post:
      summary: Classify the Car Image
      operationId: image-cars-classifier
      description: 'The car image *Classifier* service categorizes all provided images. The supported categories are exterior, interior, engine, undercarriage, other.

        It is mandatory that the provided input image is a car image. If the image is not a car image, the service will not generate an error, and the result may not be relevant.

        '
      tags:
      - 'Image: Classification'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageImageParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200CarClassification'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /image/extract-colors:
    post:
      summary: Extract Image Colors
      operationId: image-extract-colors
      description: 'Extract the key colors from an image to understand its visual style and palette.

        The service analyzes an image and returns up to five prominent colors, including dominant foreground and background tones.

        '
      tags:
      - 'Image: Classification'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageImageParameters'
      responses:
        '200':
          $ref: '#/components/responses/Image200Colors'
        '400':
          $ref: '#/components/responses/Image400'
        '401':
          $ref: '#/components/responses/Image401'
        '402':
          $ref: '#/components/responses/Image402'
        '403':
          $ref: '#/components/responses/Image403'
        '404':
          $ref: '#/components/responses/Image404'
        '405':
          $ref: '#/components/responses/Image405'
        '413':
          $ref: '#/components/responses/Image413'
        '415':
          $ref: '#/components/responses/Image415'
        '422':
          $ref: '#/components/responses/Image422'
        '429':
          $ref: '#/components/responses/Image429'
        '431':
          $ref: '#/components/responses/Image431'
        '500':
          $ref: '#/components/responses/Image500'
        '503':
          $ref: '#/components/responses/Image503'
  /video/upscale/fps:
    post:
      summary: Video FPS Upscale
      operationId: video-upscale-fps
      description: 'Upscale your low FPS videos to 60FPS high-quality videos using Generative AI technology.

        '
      tags:
      - 'Video: Video enhancement'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '422':
          $ref: '#/components/responses/Video422'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/upscale/fps/{transaction_id}:
    get:
      summary: Get the Video FPS Upscale result
      operationId: video-upscale-fps-getresult
      description: 'Use this method, along with transaction_id, to retrieve the upscaled video.

        '
      parameters:
      - in: path
        name: transaction_id
        schema:
          type: string
        required: true
        description: The ID returned from the POST method when it's done asynchronously.
      tags:
      - 'Video: Video enhancement'
      responses:
        '200':
          $ref: '#/components/responses/Video200'
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/remove-background:
    post:
      summary: Remove & Change Background from Videos
      operationId: video-remove-background
      description: 'Remove Background from videos, or replace with custom backdrops.

        '
      tags:
      - 'Video: Remove Background'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
              - $ref: '#/components/schemas/VideoRemoveBackgroundParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/adjust:
    post:
      summary: Adjust Video
      operationId: video-adjust
      description: "Adjusts the input video file with 14 different options.\n**Options:**\n  * Adjust audio and/or volume\n  * Adjust video volume\n  * Adjust brightness and/or contrast\n  * Adjust clarity\
        \ and/or saturation\n  * Adjust speed and/or reverse the video\n  * Adjust hue and/or shadows\n  * Adjust highlights and/or temperature\n  * Adjust noise or sharpen the video\n  * Adjust vignette\n\
        \nIf you choose an adjustment setting value out of the allowed range, the default value of 0 is used instead.\n"
      tags:
      - 'Video: Effects'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
              - $ref: '#/components/schemas/VideoAdjustParameters'
              - $ref: '#/components/schemas/VideoExportParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/effects:
    post:
      summary: Video Effects
      operationId: video-apply-effect
      description: 'Apply up to 24 different effects to a video.

        '
      tags:
      - 'Video: Effects'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
              - $ref: '#/components/schemas/VideoEffectsParameters'
              - $ref: '#/components/schemas/VideoExportParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/edit:
    post:
      summary: Edit Video
      operationId: video-edit
      description: 'Comprehensive editing with one operation. Apply effect, adjust, trim, crop, resize, change codecs, compression, framerates, etc.

        '
      tags:
      - 'Video: Edit'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
              - $ref: '#/components/schemas/VideoEditParameters'
              - $ref: '#/components/schemas/VideoExtendedExportParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/trim:
    post:
      summary: Trim Video
      operationId: video-trim
      description: 'Trim the input video clip: pull a specific segment or trim to your desired video clip duration.

        '
      tags:
      - 'Video: Edit'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
              - $ref: '#/components/schemas/VideoTrimParameters'
              - $ref: '#/components/schemas/VideoExportParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/crop:
    post:
      summary: Crop Video
      operationId: video-crop
      description: 'Crop the input video clip to the desired size.

        '
      tags:
      - 'Video: Edit'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
              - $ref: '#/components/schemas/VideoCropParameters'
              - $ref: '#/components/schemas/VideoExportParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/concat:
    post:
      summary: Concatenate Videos and Images
      operationId: video-concat
      description: 'Concatenate several videos clips and images with transitions into one timeline. Helpful when adding intro/outro- or creating slideshows.

        '
      tags:
      - 'Video: Edit'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoConcatParameters'
              - $ref: '#/components/schemas/VideoExportParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/concat/highlights:
    summary: Create a Video highlight
    post:
      operationId: video-concat-highlights
      description: 'Create a highlights video from the original one. This picks highlight clips and concatenates them into one output video.

        '
      tags:
      - 'Video: Edit'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
              - $ref: '#/components/schemas/VideoConcatSegmentsParameters'
              - $ref: '#/components/schemas/VideoExportParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/fit:
    post:
      summary: Fit Video
      operationId: video-fit
      description: 'Fit your original video to different ratios or width and height options. Apply fit when resizing and cropping is not an option.

        '
      tags:
      - 'Video: Edit'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
              - $ref: '#/components/schemas/VideoFitParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/metadata:
    post:
      summary: Get Video Metadata
      operationId: video-metadata
      description: 'Analysis the Video and provides the Metadata.

        '
      tags:
      - 'Video: Metadata'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
      responses:
        '200':
          $ref: '#/components/responses/Video200Metadata'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/metadata/thumbnail/extract:
    post:
      summary: Get Video Thumbnail
      operationId: video-get-thumbnail
      description: 'Extracts (reads) Video Thumbnail.

        '
      tags:
      - 'Video: Metadata'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
              - $ref: '#/components/schemas/VideoVideoGetThumbnailParameters'
      responses:
        '200':
          $ref: '#/components/responses/Video200Thumbnails'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/metadata/thumbnail:
    post:
      summary: Set Video Thumbnail
      operationId: video-set-thumbnail
      description: 'Update/Set the Video Thumbnail.

        '
      tags:
      - 'Video: Metadata'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
              - $ref: '#/components/schemas/VideoImageParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/metadata/thumbnail/{transaction_id}:
    get:
      summary: Get the Video with updated Thumbnail
      operationId: video-set-thumbnail-getresult
      description: 'Use this method, along with transaction_id, to retrieve the updated video with the new thumbnail.

        '
      tags:
      - 'Video: Metadata'
      parameters:
      - in: path
        name: transaction_id
        schema:
          type: string
        required: true
        description: The ID returned from the POST method when it's done asynchronously.
      responses:
        '200':
          $ref: '#/components/responses/Video200'
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/encode/ctv:
    post:
      summary: Make Video CTV-Compatible
      operationId: video-encode-ctv
      description: 'Converts your original video to meet <a href="https://docs.picsart.io/docs/ctv-ads-format-requirements/">CTV requirements</a>.

        '
      tags:
      - 'Video: Ads'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/audio/adjust:
    post:
      summary: Adjust Audio
      operationId: video-adjust-audio
      description: 'Adjusts the input video''s audio volume, allows to add a new audio channel and control its volume.

        '
      tags:
      - 'Video: Audio'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
              - $ref: '#/components/schemas/VideoAdjustAudioParameters'
              - $ref: '#/components/schemas/VideoExportParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/export/audio:
    post:
      summary: Extract Audio
      operationId: video-extract-audio
      description: 'Extract the input video''s audio channel.

        '
      tags:
      - 'Video: Audio'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
              - $ref: '#/components/schemas/VideoExtractAudioParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/audio/transcribe:
    post:
      summary: Transcribe Audio
      operationId: video-transcribe-audio
      description: "Transcribe your audio or video files. The input file can have one of the following mime types:\n  * audio/flac\n  * audio/mpeg\n  * audio/x-m4a\n  * audio/ogg\n  * audio/x-wav\n  * video/mp4\n\
        \  * video/mpeg\n  * video/webm\nNote, that the maximum audio/video file size supported is 25mb.\n"
      tags:
      - 'Video: Transcriptions'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoTranscribeFileParameters'
              - $ref: '#/components/schemas/VideoTranscribeParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/audio/transcribe/{transaction_id}:
    get:
      summary: Get the Transcribe Audio result
      operationId: video-transcribe-audio-getresult
      description: 'Use this method, along with transaction_id, to retrieve the audio transcription.

        '
      parameters:
      - in: path
        name: transaction_id
        schema:
          type: string
        required: true
        description: The Transaction ID returned from the [Transcribe Audio](https://docs.picsart.io/reference/video-transcribe-audio).
      tags:
      - 'Video: Transcriptions'
      responses:
        '200':
          $ref: '#/components/responses/Video200'
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '422':
          $ref: '#/components/responses/Video422'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/watermark:
    post:
      summary: Add Watermark
      operationId: video-add-watermark
      description: 'Add watermark to your video.

        '
      tags:
      - 'Video: Watermark'
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoVideoParameters'
              - $ref: '#/components/schemas/VideoWatermarkParameters'
      responses:
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/video/{transaction_id}:
    get:
      summary: Get the Video result
      operationId: video-getresult
      description: 'Use the video editing transaction ID to get the result video URL. This method works for effects, adjust, trim, crop, resize, fit, concatenation, highlights services.

        '
      parameters:
      - in: path
        name: transaction_id
        schema:
          type: string
        required: true
        description: The ID returned from the POST method when it's done asynchronously.
      tags:
      - 'Video: Utilities'
      responses:
        '200':
          $ref: '#/components/responses/Video200'
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/audio/{transaction_id}:
    get:
      summary: Get the Audio result
      operationId: video-getaudioresult
      description: 'Use the video editing transaction ID to get the result audio file URL.

        '
      parameters:
      - in: path
        name: transaction_id
        schema:
          type: string
        required: true
        description: The ID returned from the POST method when it's done asynchronously.
      tags:
      - 'Video: Utilities'
      responses:
        '200':
          $ref: '#/components/responses/Video200'
        '202':
          $ref: '#/components/responses/Video202'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/upload:
    post:
      summary: Upload files
      operationId: video-upload
      description: 'Upload resources such as videos, audios or images. The provided URL can be passed as inputs to video operation.

        '
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/VideoUploadParameters'
      tags:
      - 'Video: Utilities'
      responses:
        '200':
          $ref: '#/components/responses/Video200'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /video/balance:
    get:
      summary: Credits Balance
      operationId: video-credits-balance
      description: 'Check your balance of credits.

        '
      tags:
      - 'Video: Utilities'
      responses:
        '200':
          $ref: '#/components/responses/VideobalanceRetrievalSuccess'
        '400':
          $ref: '#/components/responses/Video400'
        '401':
          $ref: '#/components/responses/Video401'
        '402':
          $ref: '#/components/responses/Video402'
        '403':
          $ref: '#/components/responses/Video403'
        '404':
          $ref: '#/components/responses/Video404'
        '405':
          $ref: '#/components/responses/Video405'
        '413':
          $ref: '#/components/responses/Video413'
        '415':
          $ref: '#/components/responses/Video415'
        '422':
          $ref: '#/components/responses/Video422'
        '429':
          $ref: '#/components/responses/Video429'
        '431':
          $ref: '#/components/responses/Video431'
        '500':
          $ref: '#/components/responses/Video500'
        '503':
          $ref: '#/components/responses/Video503'
  /genai/text2text/chat/completions:
    post:
      summary: Text2Text Completions
      operationId: genai-text2text-completions
      description: 'The *Text2Text Completion* service helps generate a text based on the text introduced as input by the user. It also takes the pain out of writing to give your social, marketing, and
        advertising copy a premium edge.

        '
      tags:
      - 'GenAI: Text2Text'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GenAIText2TextCompletionsParameters'
              - $ref: '#/components/schemas/GenAIText2TextModels'
      responses:
        '200':
          $ref: '#/components/responses/GenAIText2TextResponse'
        '400':
          $ref: '#/components/responses/GenAI400'
        '401':
          $ref: '#/components/responses/GenAI401'
        '402':
          $ref: '#/components/responses/GenAI402'
        '403':
          $ref: '#/components/responses/GenAI403'
        '404':
          $ref: '#/components/responses/GenAI404'
        '405':
          $ref: '#/components/responses/GenAI405'
        '413':
          $ref: '#/components/responses/GenAI413'
        '415':
          $ref: '#/components/responses/GenAI415'
        '429':
          $ref: '#/components/responses/GenAI429'
        '431':
          $ref: '#/components/responses/GenAI431'
        '500':
          $ref: '#/components/responses/GenAI500'
        '503':
          $ref: '#/components/responses/GenAI503'
  /genai/text2image:
    post:
      summary: Text2Image
      operationId: genai-text2image
      description: 'The *Text2Image* service helps generate an image based on the text introduced as input by the user.

        The result images can be as big as 1024x1024 pixels.

        '
      tags:
      - 'GenAI: Text2Image'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GenAIText2ImageParameters'
              - $ref: '#/components/schemas/GenAIText2ImageModels'
      responses:
        '202':
          $ref: '#/components/responses/GenAIText2ImageResponse'
        '400':
          $ref: '#/components/responses/GenAI400'
        '401':
          $ref: '#/components/responses/GenAI401'
        '402':
          $ref: '#/components/responses/GenAI402'
        '403':
          $ref: '#/components/responses/GenAI403'
        '404':
          $ref: '#/components/responses/GenAI404'
        '405':
          $ref: '#/components/responses/GenAI405'
        '413':
          $ref: '#/components/responses/GenAI413'
        '415':
          $ref: '#/components/responses/GenAI415'
        '429':
          $ref: '#/components/responses/GenAI429'
        '431':
          $ref: '#/components/responses/GenAI431'
        '500':
          $ref: '#/components/responses/GenAI500'
        '503':
          $ref: '#/components/responses/GenAI503'
  /genai/text2image/inferences/{inference_id}:
    get:
      summary: Get the Text2Image result
      operationId: genai-text2image-getresult
      description: 'Get the generated images.

        '
      parameters:
      - in: path
        name: inference_id
        schema:
          type: string
        required: true
        description: The ID returned from the POST method when it's done asynchronously.
        example: 1116b57cb-1999-4bfd-8c42-c739a006a111
      tags:
      - 'GenAI: Text2Image'
      responses:
        '200':
          $ref: '#/components/responses/GenAIText2ImageStatusResponse'
        '202':
          $ref: '#/components/responses/GenAIText2ImageResponse'
        '400':
          $ref: '#/components/responses/GenAI400'
        '401':
          $ref: '#/components/responses/GenAI401'
        '402':
          $ref: '#/components/responses/GenAI402'
        '403':
          $ref: '#/components/responses/GenAI403'
        '404':
          $ref: '#/components/responses/GenAI404'
        '405':
          $ref: '#/components/responses/GenAI405'
        '413':
          $ref: '#/components/responses/GenAI413'
        '415':
          $ref: '#/components/responses/GenAI415'
        '429':
          $ref: '#/components/responses/GenAI429'
        '431':
          $ref: '#/components/responses/GenAI431'
        '500':
          $ref: '#/components/responses/GenAI500'
        '503':
          $ref: '#/components/responses/GenAI503'
  /genai/text2sticker:
    post:
      summary: Text2Sticker
      operationId: genai-text2sticker
      description: 'The *Text2Sticker* service helps generate a sticker based on the text introduced as input by the user.

        The result images can be as big as 1024x1024 pixels.

        '
      tags:
      - 'GenAI: Text2Image'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GenAIText2ImageParameters'
              - $ref: '#/components/schemas/GenAIText2StickerModels'
      responses:
        '202':
          $ref: '#/components/responses/GenAIText2ImageResponse'
        '400':
          $ref: '#/components/responses/GenAI400'
        '401':
          $ref: '#/components/responses/GenAI401'
        '402':
          $ref: '#/components/responses/GenAI402'
        '403':
          $ref: '#/components/responses/GenAI403'
        '404':
          $ref: '#/components/responses/GenAI404'
        '405':
          $ref: '#/components/responses/GenAI405'
        '413':
          $ref: '#/components/responses/GenAI413'
        '415':
          $ref: '#/components/responses/GenAI415'
        '429':
          $ref: '#/components/responses/GenAI429'
        '431':
          $ref: '#/components/responses/GenAI431'
        '500':
          $ref: '#/components/responses/GenAI500'
        '503':
          $ref: '#/components/responses/GenAI503'
  /genai/text2sticker/laserengraving:
    post:
      summary: Text2Sticker with Laser Engraving Effect
      operationId: genai-text2sticker-laser-engraving
      description: 'This service generates stickers similar to the standard /text2sticker service, and in addition to that it adds a laser engraving effect.

        The result images can be as big as 1024x1024 pixels.

        '
      tags:
      - 'GenAI: Text2Image'
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/GenAIText2ImageParameters'
              - $ref: '#/components/schemas/GenAILaserEngravingParameters'
              - $ref: '#/components/schemas/GenAILaserEngravingModels'
      responses:
        '202':
          $ref: '#/components/responses/GenAIText2ImageResponse'
        '400':
          $ref: '#/components/responses/GenAI400'
        '401':
          $ref: '#/components/responses/GenAI401'
        '402':
          $ref: '#/components/responses/GenAI402'
        '403':
          $ref: '#/components/responses/GenAI403'
        '404':
          $ref: '#/components/responses/GenAI404'
        '405':
          $ref: '#/components/responses/GenAI405'
        '413':
          $ref: '#/components/responses/GenAI413'
        '415':
          $ref: '#/components/responses/GenAI415'
        '429':
          $ref: '#/components/responses/GenAI429'
        '431':
          $ref: '#/components/responses/GenAI431'
        '500':
          $ref: '#/components/responses/GenAI500'
        '503':
          $ref: '#/components/responses/GenAI503'
  /genai/text2sticker/inferences/{inference_id}:
    get:
      summary: Get the Text2Sticker result
      operationId: genai-text2sticker-getresult
      description: 'Get the generated stickers.

        '
      parameters:
      - in: path
        name: inference_id
        schema:
          type: string
        required: true
        description: The ID returned from the POST method when it's done asynchronously.
        example: 1116b57cb-1999-4bfd-8c42-c739a006a111
      tags:
      - 'GenAI: Text2Image'
      responses:
        '200':
          $ref: '#/components/responses/GenAIText2ImageStatusResponse'
        '202':
          $ref: '#/components/responses/GenAIText2ImageResponse'
        '400':
          $ref: '#/components/responses/GenAI400'
        '401':
          $ref: '#/components/responses/GenAI401'
        '402':
          $ref: '#/components/responses/GenAI402'
        '403':
          $ref: '#/components/responses/GenAI403'
        '404':
          $ref: '#/components/responses/GenAI404'
        '405':
          $ref: '#/components/responses/GenAI405'
        '413':
          $ref: '#/components/responses/GenAI413'
        '415':
          $ref: '#/components/responses/GenAI415'
        '429':
          $ref: '#/components/responses/GenAI429'
        '431':
          $ref: '#/components/responses/GenAI431'
[...]
